[Unit]
Description=Techathon2024 Websocket and HTTP Server
After=network.target
[Service]
Type=simple
ExecStart=/bin/bash /home/elementalmp4/Techathon2024/server/run.sh
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143
Restart=always
RestartSec=120
CPUAccounting=yes
MemoryAccounting=yes
[Install]
WantedBy=default.target